{% extends 'dummy.html' %}

{% block title %}
    <title>Reset_password</title>
{% endblock %}


{% block body_block %}

    <center>
        <h1>Reset_password</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="pw">Reset_password</label>
            <input type="password" name="pw" id="pw"><br><br>
            <label for="user">user</label>
            <input type="user" name="user" id="user">
            <input type="submit" value="Reset_password">
        </form>
    </center>
    {% endblock %}